body {
    margin-left: 0;
    padding: 0;
    font-size: 20px;
}

h1, h2, ul, p{
    text-align: center;
}

.estilo-2 ul li{
    list-style: none;
}

#posicao-video {
    margin-left: 35%;
}

.button {
    border:1px solid #FFFFFF;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    margin-left: 50px;
}

button {
    padding-left: 15px;
}
